<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Opções de Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
</head>
<body>
    <header><h2>Validação de Senha</h2></header>
    <section>
        <form action="{{ url_for('pagina_cadastrar_senha') }}" method="get">
            <button type="submit" class="quest">Cadastrar Senha</button>
        </form>
        <form action="{{ url_for('pagina_fazer_login') }}" method="get">
            <button type="submit" class="quest">Fazer Login</button>
        </form>
        <form action="{{ url_for('home') }}" method="get">
            <button type="submit">Voltar</button>
        </form>
    </section>
    <footer>
        <p>&copy;<a href="https://www.linkedin.com/in/marcos-grocha/" target="_blank"> marcos-grocha</a></p>
    </footer>
</body>
</html>
