<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Opções de Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header><h2>Opções de Login</h2></header>
    <section>
        <ul>
            <li><a href="{{ url_for('pagina_cadastrar_senha') }}" class="btn">Cadastrar Senha</a></li><br>
            <li><a href="{{ url_for('pagina_fazer_login') }}" class="btn">Fazer Login</a></li><br>
        </ul>
        <a href="{{ url_for('home') }}" class="btn">(  voltar  )</a>
    </section>
    <footer>
        <p>&copy;<a href="https://www.linkedin.com/in/marcos-grocha/" target="_blank"> marcos-grocha</a></p>
    </footer>
</body>
</html>
