<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header><h2>Sistema de Login</h2></header>
    <section>
        <form method="POST">
            <label>1. Cadastrar Senha:</label><br>
            <input type="password" name="senha_escolhida" placeholder="Digite sua senha">
            <input type="password" name="senha_confirmada" placeholder="Confirme sua senha">
            <button type="submit" name="opcao" value="1">Cadastrar</button>
            <br><br>
            <label>2. Fazer Login:</label><br>
            <input type="password" name="senha_login" placeholder="Digite sua senha">
            <button type="submit" name="opcao" value="2">Login</button>
        </form>
        {% if mensagem %}
            <p>{{ mensagem }}</p>
        {% endif %}
        <br>
        <a href="{{ url_for('home') }}" class="btn">(  voltar  )</a>
    </section>
    <footer>
        <p>&copy;<a href="https://www.linkedin.com/in/marcos-grocha/" target="_blank"> marcos-grocha</a></p>
    </footer>
</body>
</html>
