<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Verificar Maioridade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header><h2>Verificação de Maioridade</h2></header>
    <section>
        <form method="POST">
            <label>Digite sua idade:</label>
            <input type="number" name="idade" required>
            <button type="submit">Verificar</button>
        </form>
        {% if resultado %}
            <p>{{ resultado }}</p>
        {% endif %}
        <br>
        <form action="{{ url_for('home') }}" method="get">
            <button type="submit">Voltar</button>
        </form>
    </section>
    <footer>
        <p>&copy;<a href="https://www.linkedin.com/in/marcos-grocha/" target="_blank"> marcos-grocha</a></p>
    </footer>
</body>
</html>
