
header {
    color: white;
    text-align: center;
}
body {
    font: normal 15pt Arial;
    height: 100vh;
    background-color: #011518;
    background-image: url('images/wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    background:  rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    padding: 15px;
    width: 180px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.15);
    width: 170px;
    margin: auto;
    border-radius: 15px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #2d6462;
    text-decoration: underline;
}
button {
    width: 73px;
    height: 25px;
    background-color: #53aaa7;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 1px;
}
button:hover {
    background-color: #2d6462;
}
table {
    width:  400px;
    border-collapse: collapse;
    border: 1px solid black;
    position: relative;
}
td, th {
    border: 1px solid black;
    padding: 10px;
}
/* --- */
a.btn {
    width: 73px;
    height: 25px;
    background-color: #53aaa7;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 1px;
    /* --- */
    text-decoration: none;
    font-size: 14px;
}
a.btn:hover {
    background-color: #2d6462;
    /* --- */
    text-decoration: none;
}