<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Aplicativo Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Aplicativo Web</h1>
    </header>
    <section>
        <ul>
            <li><a href="{{ url_for('verificar_maioridade') }}" class="btn">( Questão 03 )</a></li><br>
            <li><a href="{{ url_for('cadastro_alunos') }}" class="btn">( Questão 11 )</a></li><br>
            <li><a href="{{ url_for('login_sistema') }}" class="btn">( Questão 20 )</a></li><br>
        </ul>
    </section>
    <footer>
        <p>&copy;<a href="https://www.linkedin.com/in/marcos-grocha/" target="_blank"> marcos-grocha</a></p>
    </footer>
</body>
</html>
