<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Aplicativo Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Ideação e Prototipagem de Software</h1>
    </header>
    <section>
        <form action="{{ url_for('verificar_maioridade') }}" method="get">
            <button type="submit" class="quest">Questão - 03</button>
        </form>
        <form action="{{ url_for('quantos_alunos') }}" method="get">
            <button type="submit" class="quest">Questão - 11</button>
        </form>
        <form action="{{ url_for('login_sistema') }}" method="get">
            <button type="submit" class="quest">Questão - 20</button>
        </form>
    </section>
    <footer>
        <p>&copy;<a href="https://www.linkedin.com/in/marcos-grocha/" target="_blank"> marcos-grocha</a></p>
    </footer>
</body>
</html>
